.header{
    height: 70vh;
    background-color: rgb(238,234,231);
    /* min-height: 350px; */

    align-items: center;
    justify-content: center;
    background-image: url(./pexels-karolina-grabowska-5208873.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: 55px;


}


@media (max-width:700px) {
    .header{
        height: 55vh;
        background-size:90vmax;
    }
}