#nav-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    /* box-shadow: 5px 5px 15px 5px #968f82; */
    z-index: 5;
    /* background-color: white; */
    padding: 0.5em
   
}

#nav-bar p{
    /* background-color: blueviolet; */
    text-transform:uppercase;
    font-size: 35px;
    width: 300px;
    text-align: center;
   
}

#nav-bar p::after{
content: 'development';
display: block;
font-size: 10px;
letter-spacing: 5px;
}

#nav-bar ul{
    /* background-color: beige; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    max-width: 800px;
    padding: 0;
    list-style: none;

    
}

#nav-bar a{
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

#homeLink{
color: #a19368;
}

#contactLink{
    padding: 15px 25px;
}







#burger-menu{
    display: none;
}

@media (max-width:1000px) {
    #burger-menu{
        display: flex;
        padding: 0 2em;
        font-size: 1.5rem;
    }

    #nav-bar p{
        font-size: 20px;
    }


#nav-bar p::after{
    font-size: 8px;
    letter-spacing: 3px;
    }

  

    #nav-bar ul{
       flex-direction: column; 
       position:absolute;
       background-color:rgba(238,234,231,.95);
       top: 80%;
       width: 100%;
       max-width: none;
       height: 25vh;
       min-height: 140px;
       box-shadow: 5px 5px 15px 5px #968f82;

      
      

    }
}