#projects{
    background-color: aquamarine;
    width: 100vw;
    height:80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;


}

#projects article{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    padding: 30px;
    display: flex;
    background-color: blue;
    width:60%;
    height: 200px;
    position:absolute;
    top:50%;
    left:20%;
    
    /* transform: translate (30%, 70%); */
    overflow: hidden 

}

.each_project{
 display: flex;
 flex-direction: row;
 width: fit-content;
display: flex;
}

.details{
    transform: translateX(1300px);
    width: 450px;
    height: 300px;
    background-color: rgb(255, 71, 148);
    border: 2px solid black;
    font-size: 2.5em;
    color: white;
}
