

.App {
  background-color: rgb(190, 144, 109);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
   width: 100vw;
  align-items: center;
  color: black;
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4{
  font-family: 'Cormorant Garamond', serif;
  letter-spacing: 1px;
}

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

a{
  text-decoration: none;
  color: #494949;
}