
@font-face {
  font-family: 'BohemeFloral';
  src: local('BohemeFloral'), url(./fonts/BohemeFloral.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}



body {
  min-height: 100vh;
  margin: 0 auto;
  background-color: tomato;
  font-family: 'Nunito', sans-serif;
  color:black;
  display: flex;
  flex-direction: column;
  align-items: center;

}

h1, h2, h3, h4, h5{
  font-family: 'Cormorant Garamond', serif;
}


